html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.max-width {
  width: 1300px;
  padding: 0 80px;
  margin: auto;
}
/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 15px 0;
  background: rgb(33, 48, 64);
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a:hover {
  text-decoration: none;
}
.navbar .logo a span {
  color: #1fa094; /*#ef9a00;*/
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
  color: #1fa094;
}

.menu {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 700;
  font-size: 1.2em;
  text-transform: uppercase;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: #1fa094;
  text-decoration: none;
}
.navbar.sticky .menu li a:hover {
  color: #1fa094;
}

/* menu btn styling */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #1fa094;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  filter: brightness(90%);
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 5;
  pointer-events: auto;
}
.scroll-up-btn:hover {
  filter: brightness(75%);
}

/**HEADER*/
header {
  /* background: url("./images/img-4.jpg") center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  color: white;*/
  height: 100vh;
  background: url("./images/img-5.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  /* clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;*/
  background-color: #2196f3;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divider {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: white;
  border-radius: 1rem;
  border-color: white;
}

.divider-line,
.project-divider-line:first-child {
  margin-right: 1rem;
}
.divider-line,
.project-divider-line:last-child {
  margin-left: 1rem;
}
.divider-icon {
  font-size: 2rem;
}

.heading {
  font-family: SB Heading, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 700;
}
.f-developer {
  animation: moveRightFade 1.2s ease-in;
}
@keyframes moveRightFade {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  80% {
    transform: translateX(10px); /*rotate(180deg)*/
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.subheading {
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  color: #1fa094;
}

/************PROJECT SECTION********************/
.section-heading {
  text-align: center;
}
.project-divider-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #6c757d;
  border-radius: 1rem;
  border-color: #6c757d;
}
.projects {
  padding-top: 6rem;
  padding-bottom: 4.5rem;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.box > img {
  width: 100%;
  height: auto;
}

.box > img {
  width: 100%;
  height: auto;
  padding: 10px;
}
.card-image {
  transform: scale(1);
  transition: transform 0.5s ease;
}
.card-image:hover {
  transform: scale(1.5);
}
.box {
  overflow: hidden;
}
.container-project {
  margin: 15px;
}
.project-info {
  font-size: 1em;
  text-align: center;
  color: #6c757d;
  padding: 10px;
  border-top: 1px solid #bbb;
}
.project-heading {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0.5rem;
}
.project-info i {
  margin: 0 10px 0 10px;
  font-size: 2rem;
  color: #6c757d;
}
.project-info i:hover {
  color: #1fa094;
}
.project-text {
  margin-bottom: 0.5rem;
}

/*Project button*/
.button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(31, 160, 148);
  z-index: -2;
}
.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #427388;
  transition: all 0.3s;
  z-index: -1;
}
.button:hover {
  color: #fff;
  text-decoration: none;
}
.button:hover:before {
  width: 100%;
}

/************Skills Section*******************/
.skills {
  padding-top: 6rem;
  padding-bottom: 10rem;
  background-color: #1fa094;
  color: white;
  font-size: 1.2rem;
  clip-path: polygon(0px 0px, 100% 0px, 100% 88%, 0px 100%);
  -webkit-clip-path: polygon(0px 0px, 100% 0px, 100% 88%, 0px 100%);
}
.services .card .box {
  transition: all 0.3s ease;
}
.services {
  padding-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  /*width: calc(33% - 20px);*/
  background: transparent;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}
.card:hover i {
  color: #427388 !important;
}
.services .card i {
  font-size: 4rem;
  transition: color 0.3s ease;
}
.card:hover .box {
  transform: scale(1.05);
}

.card-text {
  font-size: 25px;
  font-weight: 600;
  margin: 10px 10px;
}
.card-text::after {
  content: "";
  position: absolute;
  display: block;
  width: 25%;
  height: 6px;
  background-color: rgb(255, 255, 255);
  left: 38%;
  margin-top: 8px;
}
.box p {
  margin-top: 2rem;
}
.knowledge {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}
.keyskills {
  margin-bottom: 0px;
}
.know-heading {
  font-weight: 600;
  letter-spacing: 0.15rem;
}

.skill-button-container {
  margin-top: 2rem;
}
.skills-button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  outline: solid 2px #2c3e5085;
  margin: 5px;
}
.key {
  font-weight: 600;
}
/************ABOUT SECTION********************/

.about {
  background-color: #1fa094;
  padding-top: 15rem;
  padding-bottom: 15rem;
  color: white; /*#2c3e50;*/
  font-size: 1.2rem;
  clip-path: polygon(0px 0px, 100% 250px, 100% 88%, 0px 100%);
  -webkit-clip-path: polygon(0px 0px, 100% 250px, 100% 88%, 0px 100%);
}
/****About******/

.about-content {
  margin-top: 2rem;
}

.name {
  line-height: 4.5rem;
  font-size: 4rem;
  color: #41d1e0;
  margin-bottom: 12rem;
}

.cover {
  width: 20rem;
  border-radius: 50%;
  padding: 0.5rem;
  transition: all 1250ms ease-out;
  box-shadow: inset 0 0 20px rgb(32 144 134), 0 0 20px rgb(17 99 91);
  outline-color: rgba(20, 20, 20, 0);
}

.cover:hover {
  cursor: pointer;
  transition: border 1250ms ease;
  color: #1ea093;

  box-shadow: inset 0 0 20px #dadada, 0 0 20px rgb(31 160 148);

  outline-color: rgba(41, 216, 178, 0);

  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}
.summary {
  font-size: 1.4rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.btn-download {
  padding: 1rem;
  color: #fff;
  background-color: #1fa094;
  border: 2px solid #1fa094;
  font-size: 1.2rem;
  border-radius: 30px;
  box-shadow: 0 20px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
.btn-download:hover {
  color: #fff;
  background-color: #427388;
  border: 2px solid #427388;
}
.intro {
  font-size: 2rem;
  text-align: center;
  margin: 2rem 1rem 1rem 1rem;
}
.intro-heading {
  text-transform: uppercase;
  color: #dadada;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.intro-heading::after {
  content: "";
  position: absolute;
  display: block;
  width: 25%;
  height: 6px;
  background-color: #ffffff;
  left: 38%;
  margin-top: 8px;
}

.picture {
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  overflow: hidden;
}
.picture img {
  width: 100%;
}
.divider-icon-2 {
  color: white;
  font-size: 2rem;
}
.cv {
  display: flex;
  justify-content: center;
}
.cv-button {
  outline: solid 2px #dadada78;
}
/******CONTACT SECTION**/
.contact {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.icon-contact {
  display: flex;
  height: 5rem;
  width: 5rem;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: #2c3e50;
  color: #fff;
  border-radius: 100%;
}

.phone-number,
.contact-email {
  font-size: 1.2rem;
  font-weight: 700;
  color: #2c3e50;
}
.contact-container a {
  color: #2c3e50;
}
.contact-container a:hover {
  color: #41d1e0;
}

/*****FOOTER*************/
.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2c3e50;
  color: #fff;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-transform: uppercase;
}
.social-icons {
  font-size: 3em;
}
.social-icons a {
  color: #1ea093;
  transition: all 0.3s ease-in-out;
}
.social-icons a:hover {
  color: #427388;
}

.social-icons i {
  margin: 0.5em;
}
/****Copyright******/
.copyright {
  background: #213040;
  color: white;
  text-align: center;
}
/*OTHER STYLES**/
.effect {
  border-radius: 4px;
  border: 1px solid #bbb;
  transition: all 0.3s linear;
}

.effect:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}

/***MEDIA QUERIES******/
@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
  .page-section-heading {
    font-weight: 700;
    font-size: 3rem;
  }
  .intro {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  .heading {
    font-size: 4rem;
    line-height: 3.5rem;
    padding: 1.5rem;
  }

  .subheading {
    font-size: 3.5rem;
    font-weight: 700;
  }
  .page-section-heading {
    font-size: 3rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
  }
  /****Projects*****/
  .box > img {
    width: 100%;
    max-height: 250px;
  }
}
@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }

  .grid-wrapper {
    display: grid;
    grid-template-columns: none;
  }
}

@media (max-width: 947px) {
  .heading {
    font-size: 3.2em;
    margin-top: 1em;
    text-align: center;
  }
  .subheading {
    font-size: 2.2rem;
  }
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #213040;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
}
@media (min-width: 1200px) {
  .heading {
    font-size: 6rem;
  }

  .subheading {
    font-size: 3.5rem;
  }
}
